<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("logo.png") %>
  </a>

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search a cocktail">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <%= link_to "CREATE A NEW COCKTAIL", new_cocktail_path, class:"navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</div>

<div class="banner">
  <div class="banner-content">
    <div class="col-xs-12 text-banner">WELCOME ON MISTER COCKTAIL
    </div>
  </div>
</div>


<div class="container title">
  <h1 class="text-center">OUR COCKTAILS</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <p><%= link_to cocktail.name.upcase, cocktail_path(cocktail) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="container title">
  <h1 class="text-center">DRINK A COCKTAIL WITH MUSIC !</h1>
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/255144956&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>

<div class="container title">
  <h1 class="text-center">DRINK A COCKTAIL WITH MUSIC !</h1>
  <div class="share-links">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="share-link bg-email">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="#" class="share-link bg-text">
      <i class="fa fa-mobile"></i>
    </a>
  </div>
</div>


