

<div class="banner" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('banner.png') %>');">
  <div class="banner-content">
    <h1>BANANA COCKTAIL</h1>
    <p>The best BANANA COCKTAILS you can find around the NET</p>
  </div>
</div>



<div class="title">
<h1 class="text-center">OUR BANANA COCKTAILS</h1>
</div>



<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('banana.png') %>');">
          <p><%= link_to cocktail.name.upcase, cocktail_path(cocktail) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>




<div class="title">
  <h1 class="text-center">DRINK A BANANA COCKTAIL WITH MUSIC !</h1>
</div>




<div class="container round-container" style="background: linear-gradient(rgba(20,20,20,0.3), rgba(0,0,0,0.2)), url('<%= image_path('Banana-video.png') %>');">
    <div class="text-center">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/h3ilLEN1Qew" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>



<div class="title">
  <h1 class="text-center">SHARE OUR PAGE !</h1>
</div>




<div class="container">
  <div class="share-links">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="share-link bg-email">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="#" class="share-link bg-text">
      <i class="fa fa-mobile"></i>
    </a>
  </div>
</div>


