<div class="text-center">
  <h1>Create a new Cocktail</h1>

  <%= simple_form_for (@cocktail) do |f| %>
    <%= f.text_field :name %>
    <%= f.button :submit, placeholder: "add a cocktail", class:"navbar-wagon-item navbar-wagon-button btn" %>
  <% end %>
</div>

