.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(2,2,3,3);
  position: relative;
  margin-bottom: 30px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 2px 2px 2px #f5eb00;
  background-size: cover;
}

.card a {
  font-size: 40px;
  font-family: 'Racing Sans One', cursive;
  color: #f5eb00;
  text-align: center;
}

.video {
  border: 20px solid #efce31;
  border-radius: 5px;
}
